site_name: My Tech Notes
site_url: https://khansohil530.github.io/tech-notes/
site_description: A personal collection of technical notes and tutorials
repo_url: https://github.com/khansohil530/tech-notes
repo_name: tech-notes
edit_uri: edit/main/docs/


theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  language: en
  custom_dir: overrides
  features:
    - navigation.tabs
    - navigation.tabs.sticky
#    - navigation.expand
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - content.action.edit
#    - toc.integrate
  palette:
    # Light mode
    - scheme: default
      primary: teal
      accent: deep orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: teal
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Inter
    code: Fira Code


plugins:
  - search
  - awesome-pages
  - meta
  - git-revision-date-localized:
      fallback_to_build_date: true
  - glightbox
  - tags
  - panzoom:
      always_show_hint: false
      full_screen: true
      key: "none"


markdown_extensions:
  - abbr
  - admonition
  - def_list
  - footnotes
  - toc:
      permalink: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.inlinehilite
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/khansohil530
      name: Github
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/sohil-khan-7206161a3
      name: LinkedIn
    - icon: fontawesome/solid/globe
      link: https://khansohil530.github.io/
      name: About me

copyright: Copyright &copy; 2025 Sohil Khan

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - styles/overrides.css
  - assets/stylesheets/extra.css
