name: MkDocs Site Check

on:
  pull_request:
    branches:
      - '**'

jobs:
  mkdocs-build-check:
    name: Check MkDocs Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material
          pip install -r requirements.txt || true

      - name: Build MkDocs site
        run: mkdocs build --strict
